.info_events_event {
    height: 370px;
    background-color: rgb(127,19,174, 0.8);
    
    width: 370px;
    border-radius: 25px;
    color: #fff;
    position: relative;
    display: inline;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.info_events_event_img {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

/* all these images need cropping */

.info_events_event_bottom_wrapper {
    position: absolute;
    width: 90%;
    height: 120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    bottom: 50px;
}

.info_events_event_title {
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
    position: relative;
    top: 60px;
    font-weight: 100;
}

.info_events_event_button {
    position: relative;
    margin: 0 auto;
    width: 200px;
    display: block;
    top: 60px;
    height: 40px;
    background-image: linear-gradient(to right, #083EE9 60%, #138DEE);
    border-radius: 30px;
    border: none;
    color: #fff;
}

.info_events_event_button:hover {
    cursor: pointer;
    color: #C7C7C7;
}

.info_events_event_span {
    color: inherit;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Super Dario Regular';
    font-size: 25px;
    position: relative;
    bottom:0px;
}