.info_giveaway {
    height: 1000px;
    position: relative;
    z-index: 1;
}

.info_giveaway_wrapper {
    width: 1400px; /* want to decrease to 1000px */
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.info_giveaway_switch_img {
    margin: 0 auto;
    width: 1400px; /* want to decrease to 1000px */
    z-index: 1;
}

.info_giveaway_crate-1 {
    position: absolute;
    width: 550px;
    bottom: -250px;
    right: 20px;
    z-index: 2;
}

.info_giveaway_crate-2 {
    position: absolute;
    width: 400px;
    right: -50px;
    bottom: -250px;
    z-index: 3;
}