.info_giveaway {
    height: 800px;
    position: relative;
    z-index: 1;
    margin-left: 100px;
    margin-right: 100px;
}

.info_giveaway_wrapper {
    width: 1200px; /* want to decrease to 1000px */
    height: 430px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.info_giveaway_switch_img {
    margin: 0 auto;
    width: 1200px; /* want to decrease to 1000px */
    z-index: 1;
}

.info_giveaway_crate-1 {
    position: absolute;
    width: 450px;
    bottom: -250px;
    right: 20px;
    z-index: 2;
}

.info_giveaway_crate-2 {
    position: absolute;
    width: 350px;
    right: -50px;
    bottom: -260px;
    z-index: 3;
}