@font-face {
  font-family: "Pixel Art";
  src: url('./fonts/SBRegular.otf') format("truetype");
}

@font-face {
  font-family: "Pixel Art Bolded";
  src: url('./fonts/SBBold.otf') format("truetype");
}

@font-face {
  font-family: "Super Dario Regular";
  src: url("./fonts/SuperDario-Regular.ttf") format("truetype");
}

.App {
  background-color: #030219;
  height: 1800vh;
  grid-template-columns: 100%;
  grid-template-rows: 1060px, 1060px;
  font-family: 'Super Dario Regular';
  position: relative;
  overflow: hidden;
}


